<template>
	
	<div>
		<br>
		<Breadcrumb class="position-breadcrumb">
			<BreadcrumbItem><router-link to="corredores">CORREDOR</router-link></BreadcrumbItem>	
			<BreadcrumbItem>CADASTRO</BreadcrumbItem>
		</Breadcrumb>
		<br><br>
		
		<Row>
			<Col span="15" offset="3">
				<Card>
					<p slot="title">DADOS PESSOAIS</p>
					<Form ref="formCorredor" :model="formCorredor" :rules="ruleValidate">
						<Row :gutter="15">
							<Col :xs="24" :md="24" :lg="12">
								<FormItem label="NOME" prop="pessoa.nome">
									<Input v-model="formCorredor.pessoa.nome" autofocus></Input>
								</FormItem>
							</Col>
							<Col :xs="24" :md="24" :lg="12">
								<FormItem label="TELEFONE" prop="pessoa.telefone">
									<Input v-model="formCorredor.pessoa.telefone" v-mask="'(##) #########'"></Input>
								</FormItem>
							</Col>
						</Row>
						<Row :gutter="15">
							<Col :xs="24" :md="24" :lg="12">
								<FormItem label="SEXO" prop="sexo">
									<br>
									<fieldset style="margin-top: -10px; border-radius: 4px; height: 31px">
										<RadioGroup v-model="formCorredor.sexo" style="margin-top: -5px">
											<Radio label="MASCULINO"></Radio>
											<Radio label="FEMININO"></Radio>
										</RadioGroup>
									</fieldset>
								</FormItem>
							</Col>
						</Row>
						<FormItem>
							<Button type="primary" @click="handleSubmit('formCorredor')">Cadastrar</Button>
							<Button @click="handleReset('formCorredor')" style="margin-left: 8px">Limpar campos</Button>
						</FormItem>
					</Form>
				</Card>
			</Col>
		</Row>
	</div>

</template>

<script>
import axios from "axios";
import {
    HTTP
  } from '../../../shared/common/common'
	
	export default {
		data() {
			return {
				formCorredor: {
					pessoa: {
						nome: '',
						telefone: ''
					},
					sexo: null
                },
                ruleValidate: {
                    'pessoa.nome': [
                        { required: true, message: 'Por favor, informe o nome!', trigger: 'blur' }
					],
					'pessoa.telefone': [
						{ required: true, message: 'Por favor, informe o telefone!', trigger: 'blur' },
						{ type: 'string', min: 13, message: 'Telefone incorreto!', trigger: 'blur' }
                    ],
                    sexo: [
                        { required: true, message: 'Por favor, informe o sexo!', trigger: 'change' }
                    ]
                }
			}
		},
        methods: {
            handleSubmit (name) {
                this.$refs[name].validate((valid) => {
                    if (valid) {
						HTTP.post("/api/corredores", this.formCorredor);
						this.$Message.success('Cadastrado com sucesso!');
						this.$router.push('../corredores');
                    } else {
                        this.$Message.error('Preencha o(s) campo(s)!');
                    }
                })
            },
            handleReset (name) {
                this.$refs[name].resetFields();
            }
        }
	}
</script>

<style>

	.position-breadcrumb{
		margin: 20px;
		
	}

</style>


