<template>
    <div>
        <br>
        <router-link tag="a" class="waves-effect waves-light btn add-corredor" to="/novo_corredor">
            <i class="material-icons left">person_add</i>CORREDOR
        </router-link>

        <Input v-model="valorTipoBusca" style="width: 400px" class="right campo-busca" @input="pesquisarCorredor()">
            <Select v-model="tipoBusca" slot="prepend" style="width: 90px">
                <Option :value=1>NOME</Option>
                <Option :value=2>CÓDIGO</Option>
            </Select>
        </Input>

        <br><br>
        <div class="table-format">
            <table>
                <thead>
                    <tr>
                        <th>Código</th>
                        <th>Nome</th>
                        <th>Telefone</th>
                        <th>Ação</th>
                    </tr>
                </thead>

                <tbody v-if="corredores.length != 0">
                    <tr v-for="(corredor,index) in corredores" :key="index">
                        
                        <th v-text="corredor.id"></th>
                        <th v-text="corredor.pessoa.nome"></th>
                        <th v-text="corredor.pessoa.telefone"></th>
                        <th>
                            <router-link tag="a" :to="{name: 'editar_corredor', params: {id: corredor.id}}" title="Editar" > <i class="material-icons color-icon">edit</i> </router-link>
                            <a @click="custom(corredor.id, corredor.pessoa.nome)" title="Excluir"> <i class="material-icons color-icon">delete</i> </a>
                            
                        </th>
                    </tr>
                </tbody>
                <tbody v-if="corredores.length == 0">
                    <h6 class="center">Sem registro</h6>
                </tbody>

            </table>
        </div>
    </div>
</template>

<script>

import axios from 'axios'
import {
    HTTP
  } from '../../../shared/common/common'
import _ from "lodash";

export default {
    data() {
        return {
            corredores: [],
            tipoBusca: 1,
            valorTipoBusca: '',
        }
    },

    methods: {
        listarCorredores() {
            HTTP.get('/api/corredores').then(response => {
                this.corredores = response.data
            })
        },

        custom (idCorredor, nomeCorredor) {
            this.$Modal.confirm({
                title: 'CONFIRMAÇÃO',
                content: '<p>Deseja realmente excluir o(a) corredor(a) '+ nomeCorredor +'?</p>',
                okText: 'OK',
                cancelText: 'Cancelar',
                closable: true,
                onOk: () => {
                    this.excluirCorredor(idCorredor)
                }
            });
        },

        warning (nodesc) {
            this.$Notice.error({
                title: 'Não é possível excluir',
                desc: nodesc ? '' : 'Este corredor está participando de uma dupla. '
            });
        },

        excluirCorredor(idCorredor) {
            HTTP.delete(`/api/corredores/${idCorredor}`).catch(e => 
                this.warning(false),
            );
            // this.$Message.success('Excluído com sucesso!');
        },

        pesquisarCorredor() {
            if(this.valorTipoBusca != ''){
                HTTP.get(`/api/corredores/${this.tipoBusca}/${this.valorTipoBusca}`).then(response => {
                    this.corredores = response.data
                }) 
            }
        }
    },

    watch: {
        tipoBusca: function(){
            if(this.valorTipoBusca != ''){
                this.pesquisarCorredor() 
            }
        }
    },

    created() {
        this.listarCorredores()
    },

    updated: function () {
        this.$nextTick(function () {
            if(this.valorTipoBusca == ''){
                this.listarCorredores()
            }
        })
    }
}
</script>

<style>
    .add-corredor {
        color: white !important;
        margin-left: 50px;
    }

    .campo-busca {
        margin-right: 50px;
    }

    .table-format{
        margin-left: 50px;
        margin-right: 50px;
        font: normal 12px/150% Arial, Helvetica, sans-serif;
        border: 1px solid #c1bebe;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }

    .table-format table td,
    .table-format table th {
        padding: 3px 14px;
    }

    .table-format table thead th {
        background-color: #e8edf1;
        color: #004d40;
        font-size: 14px;
        font-weight: bold;
        padding: 10px;
        text-align: center;
    }

    table {
        border-collapse: collapse;
        margin: 0;
        padding: 0;
        width: 100%;
    }

    table th {
        text-transform: uppercase;
    }

    td,
    th {
        text-align: center;
    }

    tr:nth-child(even) {
        background-color: #e2e8eec7;
    }

    .color-icon{
        color: #004d40;
    }
</style>

