<template>
    <div>
        <br>
        <router-link tag="a" class="waves-effect waves-light btn add-aposta" :to="{name:'nova_aposta', params: {permitir: verificarAposta}}">
            <i class="material-icons left">note_add</i>APOSTA
        </router-link>

        <Input v-model="valorTipoBusca" style="width: 400px" class="right campo-busca" @input="pesquisarAposta()">
            <Select v-model="tipoBusca" slot="prepend" style="width: 120px">
                <Option :value=1>APOSTADOR</Option>
                <Option :value=2>BLOCO</Option>
                <Option :value=3>CARTELA</Option>
            </Select>
        </Input>

        <br><br>
        <div class="table-format">
            <table>
                <thead>
                    <tr>
                        <th>Código</th>
                        <th>Apostador</th>
                        <th>Telefone</th>
                        <!-- <th>Vendedor</th> -->
                        <th>Nº Bloco</th>
                        <th>Nº Cartela</th>
                        <th>Ação</th>
                    </tr>
                </thead>

                <tbody v-if="apostas.length != 0">
                    <tr v-for="(aposta,index) in apostas" :key="index">
                        
                        <th v-text="aposta.id"></th>
                        <th v-text="aposta.apostador.pessoa.nome"></th>
                        <th v-text="aposta.apostador.pessoa.telefone"></th>
                        <!-- <th ></th> -->
                        <th v-text="aposta.numeroBloco"></th>
                        <th v-text="aposta.numeroCartela"></th>
                        <th>
                            <router-link tag="a" :to="{name: 'visualizar_aposta', params: {id: aposta.id}}" title="Visualizar" > <i class="material-icons color-icon">remove_red_eye</i> </router-link>
                            <a @click="confirmacaoDesativarAposta(aposta.id, aposta.numeroBloco, aposta.numeroCartela, aposta.apostador.pessoa.nome)" title="Inativar"> <i class=" material-icons color-icon">clear</i> </a>
                        </th>
                    </tr>
                </tbody>
                <tbody v-if="apostas.length == 0">
                    <h6 class="center">Sem registro</h6>
                </tbody>

            </table>
        </div>
    </div>
</template>

<script>
import axios from 'axios'
import {
    HTTP
  } from '../../../shared/common/common'

export default {
    data() {
        return {
            apostas: [],
            tipoBusca: 1,
            valorTipoBusca: '',
            value: '',
            verificarAposta: false
        }
    },

    methods: {
        listarApostas() {
            HTTP.get('http://localhost:8080/api/apostas').then(response => {
                this.apostas = response.data
                // console.log(this.apostas)
            })
        },

        confirmacaoDesativarAposta (idAposta, numeroBloco, numeroCartela, nomeApostador) {
            this.$Modal.confirm({
                title: 'CONFIRMAÇÃO',
                content: '<p>Deseja realmente inativar a aposta de nº cartela <b>'+ numeroCartela +'</b>, nº bloco <b>' + numeroBloco +'</b>, feita pela apostador <b>' + nomeApostador + '</b>?</p>',
                okText: 'OK',
                cancelText: 'Cancelar',
                closable: true,
                onOk: () => {
                    this.desativarAposta(idAposta)
                }
            });
        },

        desativarAposta(idAposta) {
            HTTP.get(`/api/apostas/inativarAposta/${idAposta}`);
            this.$Message.success('Inativada com sucesso!');
        },

        pesquisarAposta(){
            if(this.valorTipoBusca != ''){
                HTTP.get(`/api/apostas/${this.tipoBusca}/${this.valorTipoBusca}`).then(response => {
                    this.apostas = response.data
                })    
            }
        },

        consultarAposta() {
            HTTP.get('/api/configuracao').then(response => {
                this.verificarAposta = response.data[0].apostasLiberadas
                console.log(this.verificarAposta)
            })
        }
    },

    watch: {
        tipoBusca: function(){
            if(this.valorTipoBusca != ''){
                this.pesquisarAposta() 
            }
        }
    },

    created() {
        this.listarApostas()
        this.consultarAposta()
    },

    updated: function () {
        this.$nextTick(function () {
            if(this.valorTipoBusca == ''){
                this.listarApostas()
            }
        })
    }
}
</script>

<style>
    .add-aposta {
        color: white !important;
        margin-left: 50px;
    }

    .campo-busca {
        margin-right: 50px;
    }

    .table-format{
        margin-left: 50px;
        margin-right: 50px;
        font: normal 12px/150% Arial, Helvetica, sans-serif;
        border: 1px solid #c1bebe;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }

    .table-format table td,
    .table-format table th {
        padding: 3px 14px;
    }

    .table-format table thead th {
        background-color: #e8edf1;
        color: #004d40;
        font-size: 14px;
        font-weight: bold;
        padding: 10px;
        text-align: center;
    }

    table {
        border-collapse: collapse;
        margin: 0;
        padding: 0;
        width: 100%;
    }

    table th {
        text-transform: uppercase;
    }

    td,
    th {
        text-align: center;
    }

    tr:nth-child(even) {
        background-color: #e2e8eec7;
    }

    .color-icon{
        color: #004d40;
    }

</style>

