<template>
	
	<div>
		<br><br>

		<Row>
			<Col span="15" offset="4">
				<Card>
					<p slot="title">CARTELA DE APOSTA</p>
					<Form ref="formAposta" :model="formAposta" :rules="ruleValidate">
						<Row :gutter="15">
							<Col :xs="24" :md="24" :lg="12">
								<FormItem label="NOME" prop="apostador.pessoa.nome">
									<Input v-model="formAposta.apostador.pessoa.nome" autofocus :maxlength="50"></Input>
								</FormItem>
							</Col>
							<Col :xs="24" :md="24" :lg="12">
								<FormItem label="TELEFONE" prop="apostador.pessoa.telefone">
									<Input v-model="formAposta.apostador.pessoa.telefone" v-mask="'(##) #########'"></Input>
								</FormItem>
							</Col>
						</Row>
						<Row :gutter="15">
							<Col :xs="24" :md="24" :lg="12">
								<FormItem label="E-MAIL" prop="apostador.email">
									<Input v-model="formAposta.apostador.email" :maxlength="70"></Input>
								</FormItem>
							</Col>
							<Col :xs="12" :md="24" :lg="6">
								<FormItem label="Nº BLOCO" prop="numeroBloco">
									<Input v-model="formAposta.numeroBloco" v-mask="'######'"></Input>
								</FormItem>
							</Col>
							<Col :xs="12" :md="24" :lg="6">
								<FormItem label="Nº CARTELA" prop="numeroCartela">
									<Input v-model="formAposta.numeroCartela" v-mask="'######'"></Input>
								</FormItem>
							</Col>
						</Row>
						
						<br>
						
						<FormItem v-for="(dupla, index) in duplas" :key="index">
							<center>
								<RadioGroup class="format-dupla">
									<span @click="handleAdd(dupla.id, dupla.corredor1.id)">
										<Radio label="corredor1" size="large">
											<span v-text="dupla.corredor1.pessoa.nome" @click.stop></span>
										</Radio>
									</span>
									<span @click="handleAdd(dupla.id, dupla.corredor2.id)">
										<Radio label="corredor2" size="large">
											<span v-text="dupla.corredor2.pessoa.nome" @click.stop></span>
										</Radio>
									</span>
								</RadioGroup>
							</center>
						</FormItem>
						<br><br>

						<FormItem>
							<center><Button type="primary" @click="handleSubmit('formAposta')">Cadastrar</Button></center>
						</FormItem>

						<Modal 
							v-model="modal1" 
							title="CONFIRMAÇÃO"
							okText="Salvar"
							@on-ok="ok"
							cancelText="Alterar aposta">
							<h6>Confirme os dados antes de salvar.</h6>
							<h6>Após salvar, não será possível editar e nem excluir a aposta.</h6>
							<br>
							<visualizar :registros="formAposta.registro"/>
						</Modal>
					</Form>
				</Card>
			</Col>
		</Row>
	</div>

</template>

<script>
import axios from "axios";
import visualizar from "./components/Visualizar";
import {
    HTTP
  } from '../../../shared/common/common'

	var indexArrayRegistro = 0
	export default {
		data() {
			
			return {
				modal1: false,
				formAposta: {
					apostador: {
						pessoa: {
							nome: '',
							telefone: ''
						},
						email: ''
					},
					numeroBloco: '',
					numeroCartela: '',
					status: true,
					registro: [
						{
							dupla: {
								id: ''
							},
							corredor: {
								id: ''
							}
						}
					]
				},

				duplas: [],

                ruleValidate: {
                    'apostador.pessoa.nome': [
                        { required: true, message: 'Por favor, informe o nome!', trigger: 'blur' }
					],
					'apostador.pessoa.telefone': [
                        { required: true, message: 'Por favor, informe o telefone!', trigger: 'blur' },
						{ type: 'string', min: 13, message: 'Telefone inválido!', trigger: 'blur' }
                    ],
					'apostador.email': [
						{ type: 'email', message: 'E-mail inválido!', trigger: 'blur' }
                    ],
					'numeroBloco': [
                        { required: true, message: 'Por favor, informe o número do bloco!', trigger: 'blur' }
                    ],
					'numeroCartela': [
                        { required: true, message: 'Por favor, informe o número da cartela!', trigger: 'blur' }
                    ]
                }
			}
		},

		methods: {

			listarDuplas() {
				HTTP.get("/api/duplas").then(response => {
					this.duplas = response.data
				})
			},

			handleAdd (idDupla, idCorredor) {
				var i
				var editarDupla = false
				var posicaoEditar
				if(indexArrayRegistro === 0){
					this.formAposta.registro[0].dupla.id = idDupla
					this.formAposta.registro[0].corredor.id = idCorredor
					indexArrayRegistro++
				}else {
					for(i=0; i < this.formAposta.registro.length; i++){
						if(this.formAposta.registro[i].dupla.id == idDupla){
							editarDupla = true
							posicaoEditar = i
						}
					}

					if(editarDupla == false){
						this.formAposta.registro.push({
							dupla: {
								id: idDupla
							},
							corredor: {
								id: idCorredor
							}
						});
					}else{
						this.formAposta.registro[posicaoEditar].dupla.id = idDupla
						this.formAposta.registro[posicaoEditar].corredor.id = idCorredor
					}
				}	
				console.log(this.formAposta.registro)					
			},
			
			closable () {
                this.$Message.error({
                    content: 'Selecione um corredor em todas as duplas!',
                    duration: 10,
                    closable: true
                });
            },

			ok () {
                this.salvarAposta();
            },

			handleSubmit (name) {
				this.$refs[name].validate((valid) => {
                    if (valid) {
						if(this.formAposta.registro.length == this.duplas.length){
							this.modal1 = true
						}else {
							this.closable()
						}
					} else {
                        this.$Message.error('Preencha o(s) campo(s)!');
                    }
                })
			},

			salvarAposta() {
				HTTP.post("/api/apostas", this.formAposta)
				this.$Message.success('Cadastrado com sucesso!');
				this.$router.push('../apostas');
			}

		},

		created() {
			this.listarDuplas()
			indexArrayRegistro = 0
		},

		components: {
			visualizar
		}
	}
</script>

<style scoped>
	.format-dupla span{
		font-size: 15px;
		font-weight: bold;
		color: black;
	}

	.format-dupla{
		margin-top: 10px;
	}

</style>
