<template>
	
	<div>
		<br>
		<Breadcrumb class="position-breadcrumb">
			<BreadcrumbItem><router-link to="/apostas">APOSTA</router-link></BreadcrumbItem>	
			<BreadcrumbItem>VISUALIZAÇÃO</BreadcrumbItem>
		</Breadcrumb>
		<br>

		<Row>
			<Col span="15" offset="4" v-if="formAposta != null">
				<Card>
					<p slot="title">CARTELA DE APOSTA</p>
					<Form ref="formAposta" :model="formAposta">
						<Row :gutter="15">
							<Col :xs="24" :md="24" :lg="12">
								<FormItem label="NOME">
									<Input v-model="formAposta.apostador.pessoa.nome" :maxlength="50" :readonly="true"></Input>
								</FormItem>
							</Col>
							<Col :xs="24" :md="24" :lg="12">
								<FormItem label="TELEFONE">
									<Input v-model="formAposta.apostador.pessoa.telefone" v-mask="'(##) #########'" :readonly="true"></Input>
								</FormItem>
							</Col>
						</Row>
						<Row :gutter="15">
							<Col :xs="24" :md="24" :lg="12">
								<FormItem label="E-MAIL">
									<Input v-model="formAposta.apostador.email" :maxlength="70" :readonly="true"></Input>
								</FormItem>
							</Col>
							<Col :xs="12" :md="24" :lg="6">
								<FormItem label="Nº BLOCO">
									<Input v-model="formAposta.numeroBloco" v-mask="'######'" :readonly="true"></Input>
								</FormItem>
							</Col>
							<Col :xs="12" :md="24" :lg="6">
								<FormItem label="Nº CARTELA">
									<Input v-model="formAposta.numeroCartela" v-mask="'######'" :readonly="true"></Input>
								</FormItem>
							</Col>
						</Row>
						
						<br>
						<visualizar :registros="formAposta.registro"/>
					</Form>
				</Card>
                <br><br>
			</Col>
		</Row>
	</div>

</template>

<script>
import axios from "axios";
import visualizar from "./components/Visualizar";
import {
    HTTP
  } from '../../../shared/common/common'

	export default {
        props: ['id'],
		data() {
			return {
				formAposta: null,
			}
		},

		methods: {
            buscarPorId() {
                HTTP.get(`/api/apostas/${this.id}`).then(response => {
					this.formAposta = response.data
					console.log(this.formAposta)
                })
            }
		},

		created() {
            this.buscarPorId()
		},

		components: {
			visualizar
		}
	}
</script>

<style scoped>
	.position-breadcrumb{
		margin: 20px;
	}

	.format-dupla span{
		font-size: 15px;
		font-weight: bold;
	}

	.dupla-selecionada{
		color: black;
	}

	.format-dupla{
		margin-top: 10px;
	}

</style>
