<template>
    <div>
        <FormItem v-for="(dupla, index) in duplas" :key="index">
            <center>
                <RadioGroup class="format-dupla"
                    v-for="(registro, index2) in formAposta.registro"
                    :key="index2"
                    v-model="registro.corredor.id">
                    <div v-if="dupla.id == registro.dupla.id" @click.prevent>
                        <Radio :label="registro.corredor.id" size="large" v-if="registro.corredor.id == dupla.corredor1.id">
                            <span v-text="dupla.corredor1.pessoa.nome" class="dupla-selecionada"></span>
                        </Radio>
                        <Radio size="large" v-if="registro.corredor.id != dupla.corredor1.id">
                            <span v-text="dupla.corredor1.pessoa.nome"></span>
                        </Radio>

                        <Radio :label="registro.corredor.id" size="large" v-if="registro.corredor.id == dupla.corredor2.id">
                            <span v-text="dupla.corredor2.pessoa.nome" class="dupla-selecionada"></span>
                        </Radio>
                        <Radio size="large" v-if="registro.corredor.id != dupla.corredor2.id">
                            <span v-text="dupla.corredor2.pessoa.nome"></span>
                        </Radio>
                    </div>
                </RadioGroup>
            </center>
        </FormItem>
    </div>
</template>

<script>
    import axios from "axios";
    import {
    HTTP
  } from '../../../../shared/common/common'
    
    export default {
        props: {
            registros: Array
        },

        data() {
			return {
                formAposta: {
                    id: '',
					registro: [
						{
							dupla: {
								id: ''
							},
							corredor: {
								id: ''
							}
						}
					]
				},
				duplas: []
			}
        },
        
        methods: {
			listarDuplas() {
				HTTP.get("/api/duplas").then(response => {
					this.duplas = response.data
				})
            },

            getRegistros() {
                this.formAposta.registro = this.registros
            }
        },
        
        created() {
            this.listarDuplas()
            this.getRegistros()
		}
    }
</script>

<style scoped>
	.format-dupla span{
		font-size: 15px;
		font-weight: bold;
	}

	.dupla-selecionada{
		color: black;
	}

	.format-dupla{
		margin-top: 10px;
	}

</style>

