<template>
    <div>
        <Row>
            <br><br><br><br>
            <Col span="10" offset="7">
                <Card>
                    <p slot="title">CONFIGURAÇÃO DA APOSTA</p>
                    <br>
                    <div class="center">
                        Liberar apostas 
                        <i-switch v-model="config.apostasLiberadas" :disabled="isDisabledSwitch" style="margin-left: 10px"></i-switch>
                    </div>
                    <br><br>
                    <center><Button type="primary" @click="custom()" :disabled="isDisabledBotao">Salvar</Button></center>
                    <!-- <Button @click="handleReset('formCorredor')" style="margin-left: 8px">Cancelar</Button> -->
                </Card>
            </Col>
        </Row>
        
    </div>
</template>

<script>
import axios from 'axios'
import {
    HTTP
  } from '../../shared/common/common'

    export default {
        data () {
            return {
                config: {
                    id: '',
                    apostasLiberadas: true,
                    qtdAlteracao: ''
                },
                mensagem: '',
                mensagem2: '',
                aviso: '',
                configRecebida: '',
                isDisabledSwitch: false,
                isDisabledBotao: true
            }
        },

        methods: {
            consultarLiberacaoAposta() {
                HTTP.get('/api/configuracao').then(response => {
                    this.config = response.data[0]
                    this.configRecebida = response.data[0].apostasLiberadas
                    if(this.config.qtdAlteracao == 2) {
                        this.isDisabledSwitch = true
                        this.aviso = 'Não é possível alterar'
                    }
                    console.log(this.config)
                })
            },

            custom () {
                if(this.config.apostasLiberadas == true){
                    this.mensagem = 'liberar'
                    this.mensagem2 = ' Não será mais possível cadastrar/editar corredores e duplas.'
                }else {
                    this.mensagem = 'bloquear'
                    this.mensagem2 = ''
                }
                this.$Modal.confirm({
                    title: 'CONFIRMAÇÃO',
                    content: '<p>Deseja realmente ' + this.mensagem + ' a realização das apostas?' + this.mensagem2 +'</p>',
                    okText: 'OK',
                    cancelText: 'Cancelar',
                    closable: true,
                    onOk: () => {
                        this.alterarConfigAposta()
                    }
                });
            },

            alterarConfigAposta() {
                this.config.qtdAlteracao+=1
                console.log(this.config)
                HTTP.put("/api/configuracao", this.config);
                if(this.config.apostasLiberadas == true){
                    window.location.href = '/apostas'
                }else {
                    window.location.href = '/resultado'
                }
            }
        },

        watch: {
            'config.apostasLiberadas': function() {
                if(this.config.apostasLiberadas != this.configRecebida){
                    this.isDisabledBotao = false
                }else {
                    this.isDisabledBotao = true
                }
            }
        },

        created() {
            this.consultarLiberacaoAposta()
        },
    }
</script>
