<template>
	
	<div>
		<h3 style="margin-left:40px">Bem-vindo!</h3>
		<br><br>
		<!-- <center> -->
			<!-- <router-link tag="a" class="waves-effect waves-light btn-large add-aposta" :to="{name:'nova_aposta', params: {permitir: verificarAposta}}"> -->
			<router-link tag="a" class="waves-effect waves-light btn-large add-aposta" to="/nova_aposta/true">
				<i class="material-icons left">note_add</i>APOSTA
			</router-link>
		<!-- </center> -->
	</div>

</template>

<script>
import axios from "axios";
import {
    HTTP
  } from '../../shared/common/common'
	
	export default {
		data() {
			return {
			
			}
		}
	}
</script>

<style>
	.add-aposta {
		color: white !important;
		margin-left: 50px;
	}
</style>
