<template>
	
	<div>
		<div class="navbar-fixed">
			<nav class="teal darken-3">
				<a href="#" class="brand-logo" style="margin-left: 40px;">SSVP</a>
				<a href="#" v-if="true" class="icon-menu"><span @click.prevent="drawer" class="material-icons toggle-menu">dehaze</span></a>
				<!-- <ul id="nav-mobile" class="right hide-on-med-and-down">
					<li><a href="#"><i class="material-icons">face</i></a></li>
				</ul> -->
				<ul class="right hide-on-med-and-down">
					<li><a @click="logout()"><span  style="color: white" >SAIR</span></a></li>
				</ul>

			</nav>
		</div>
		<aside class="aw-layout-sidebar z-depth-1" :class="{'is-toggled': isOpen}"  v-show="usuario === 'administrador'">
			<div class="aw-layout-sidebar__content">
				<Collapse accordion>
					<Panel name="1">
						CADASTRO
						<p slot="content">
							<router-link tag="li" exact-active-class="is-active" class="aw-menu__item" to="/corredores">
								<a href="#"><i class="fa  fa-fw  fa-file-text"></i><span>CORREDOR</span></a>
							</router-link>
							<router-link tag="li" exact-active-class="is-active" class="aw-menu__item" to="/duplas">
								<a href="#"><i class="fa  fa-fw  fa-file-text"></i><span>DUPLA</span></a>
							</router-link>
							<router-link tag="li" exact-active-class="is-active" class="aw-menu__item" to="/apostas">
								<a href="#"><i class="fa  fa-fw  fa-file-text"></i><span>APOSTA</span></a>
							</router-link>
							<router-link tag="li" exact-active-class="is-active" class="aw-menu__item" to="/conferencias">
								<a href="#"><i class="fa  fa-fw  fa-file-text"></i><span>CONFERÊNCIA</span></a>
							</router-link>
							<router-link tag="li" exact-active-class="is-active" class="aw-menu__item" to="/vendedores">
								<a href="#"><i class="fa  fa-fw  fa-file-text"></i><span>VENDEDOR</span></a>
							</router-link>
						</p>
					</Panel>
					<Panel name="2">
						UTILITÁRIO
						<p slot="content">
							<router-link tag="li" exact-active-class="is-active" class="aw-menu__item" to="/resultado">
								<a href="#"><i class="fa  fa-fw  fa-file-text"></i><span>RESULTADO</span></a>
							</router-link>
							<router-link tag="li" exact-active-class="is-active" class="aw-menu__item" to="/pontuacao">
								<a href="#"><i class="fa  fa-fw  fa-file-text"></i><span>PONTUAÇÃO FINAL</span></a>
							</router-link>
							<router-link tag="li" exact-active-class="is-active" class="aw-menu__item" to="/configuracoes">
								<a href="#"><i class="fa  fa-fw  fa-file-text"></i><span>CONFIGURAÇÕES</span></a>
							</router-link>
						</p>
					</Panel>
				</Collapse>
			</div>
    </aside>
    <div class="aw-layout-content" :class="{'is-toggled': isOpen}">
    	<router-view />
    </div>
	</div>

</template>

<script>
import axios from "axios";
	
	export default {
		data() {
			return {
				isOpen: false,
				msg: 'ADV7',
				usuarioOnline: null,
				usuario: ''
			}
		},

		methods: {
			drawer: function () {
				this.isOpen = !
				this.isOpen
			},

			dropdown() {
				this.isOpenDrop = !this.isOpenDrop
			},

			logout() {
				this.$store.dispatch('logout')
			}

			// buscarUsuario() {
			// 	axios.get('http://localhost:8080/api/usuarios/online').then(response => {
			// 		this.usuarioOnline = response.data[0]
			// 	})
				
			// },

			// logout() {
			// 	this.usuarioOnline.online = false
			// 	console.log(this.usuarioOnline)
			// 	axios.put("http://localhost:8080/api/usuarios", this.usuarioOnline)
			// 	window.location.href = '/login'  
			// }

		},

		created() {
			// this.buscarUsuario()
			this.usuario = localStorage.getItem('Usuario')
		}
	}
</script>

<style>

  ::-webkit-input-placeholder {
    text-align: center;
  }

  .ivu-collapse {
    border: none;
    background-color: #00695c;
  }

  .ivu-collapse>.ivu-collapse-item>.ivu-collapse-header {
    color: white;
  }

  .ivu-collapse-content {
    background-color: #004d40;
    color: white;
  }

</style>
