<template>

    <ul class="pagination">
      <li class="pagination-item">
        <button class="btn btn-sm" @click="onClickFirstPage" :disabled="isInFirstPage"><i class="material-icons">first_page</i></button>
      </li>

      <li class="pagination-item">
        <button class="btn btn-sm" @click="onClickPreviousPage" :disabled="isInFirstPage" ><i class="material-icons">keyboard_arrow_left</i></button>
      </li>

      <!-- <li v-for="(page, index) in pages" :key="index" class="pagination-item">
        <button class="btn btn-sm" @click="onClickPage(page.name)" :disabled="page.isDisabled" :class="{ active: isPageActive(page.name) }">{{
          page.name }}</button>
      </li> -->

      <li class="pagination-item">
        <button class="btn btn-sm" @click="onClickNextPage" :disabled="isInLastPage"><i class="material-icons">keyboard_arrow_right</i></button>
      </li>

      <li class="pagination-item">
        <button class="btn btn-sm" @click="onClickLastPage" :disabled="isInLastPage"><i class="material-icons">last_page</i></button>
      </li>
    </ul>

</template>
<script>
  export default {
    props: {
      maxVisibleButtons: {
        type: Number,
        required: false,
        default: 3
      },
      totalPages: {
        type: Number,
        required: true
      },
      currentPage: {
        type: Number,
        required: true
      }
    },

    computed: {

      startPage() {
        if (this.currentPage === 1) {
          return 1;
        }

        if (this.currentPage === this.totalPages) {
          return this.totalPages - this.maxVisibleButtons + 1;
        }
        return this.currentPage - 1;
      },

      endPage() {
        return Math.min(this.startPage + this.maxVisibleButtons - 1, this.totalPages);
      },

      pages() {
        const range = [];
        for (let i = this.startPage; i <= this.endPage; i += 1) {
          range.push({
            name: i,
            isDisabled: i === this.currentPage
          });
        }
        return range;
      },

      isInFirstPage() {
        return this.currentPage === 1;
      },

      isInLastPage() {
        return this.currentPage === this.totalPages;
      },
    },

    methods: {
      onClickFirstPage() {
        this.$emit('pagechanged', 1);
      },
      onClickPreviousPage() {
        this.$emit('pagechanged', this.currentPage - 1);
      },
      onClickPage(page) {
        this.$emit('pagechanged', page);
      },
      onClickNextPage() {
        this.$emit('pagechanged', this.currentPage + 1);
      },
      onClickLastPage() {
        this.$emit('pagechanged', this.totalPages);
      },
      isPageActive(page) {
        return this.currentPage === page;
      },
    }
  }

</script>

<style >

  .pagination{
    display: inline-block !important;
  }

  .pagination-item {
    display: inline-block !important;
  }

  .active {
    background-color: #4AAE9B !important;
    color: #ffffff !important;
  }

</style>