<template>
    <div>
        <br>
        <router-link tag="a" class="waves-effect waves-light btn add-corredor" to="/nova_conferencia">
            <i class="material-icons left">group_add</i>CONFERÊNCIA
        </router-link>

        <br><br>
        <div class="table-format">
            <table>
                <thead>
                    <tr>
                        <th>Código</th>
                        <th>Nome da conferência</th>
                        <th>Nome do presidente</th>
                        <th>Ação</th>
                    </tr>
                </thead>

                <tbody v-if="conferencias.length != 0">
                    <tr v-for="(conferencia,index) in conferencias" :key="index">
                        
                        <th v-text="conferencia.id"></th>
                        <th v-text="conferencia.nome"></th>
                        <th v-text="conferencia.nomePresidente"></th>
                        <th>
                            <router-link tag="a" :to="{name: 'editar_conferencia', params: {id: conferencia.id}}" title="Editar" > <i class="material-icons color-icon">edit</i> </router-link>
                            <a @click="custom(conferencia.id, conferencia.nome)" title="Excluir"> <i class="material-icons color-icon">delete</i> </a>
                            
                        </th>
                    </tr>
                </tbody>
                <tbody v-if="conferencias.length == 0">
                    <h6 class="center">Sem registro</h6>
                </tbody>

            </table>
        </div>
    </div>
</template>

<script>
import axios from 'axios'
import _ from "lodash";
import {
    HTTP
  } from '../../../shared/common/common'

export default {
    data() {
        return {
            conferencias: [],
            errorExcluir: false
        }
    },

    methods: {
        listarConferencias() {
            HTTP.get('/api/conferencias').then(response => {
                this.conferencias = response.data
            })
        },

        custom (idConferencia, nomeConferencia) {
            this.$Modal.confirm({
                title: 'CONFIRMAÇÃO',
                content: '<p>Deseja realmente excluir a conferencia '+ nomeConferencia +'?</p>',
                okText: 'OK',
                cancelText: 'Cancelar',
                closable: true,
                onOk: () => {
                    this.excluirConferencia(idConferencia)
                }
            });
        },

        warning (nodesc) {
            this.$Notice.error({
                title: 'Não é possível excluir',
                desc: nodesc ? '' : 'Há vendedor cadastrado com esta conferência. '
            });
        },

        excluirConferencia(idConferencia) {
            HTTP.delete(`/api/conferencias/${idConferencia}`).catch(e => 
                this.warning(false),
            );
            // if(this.errorExcluir == false){
            //     this.$Message.success('Excluída com sucesso!');
            // }
        }
    },

    created() {
        this.listarConferencias()
    },

    updated: function () {
        this.$nextTick(function () {
            // if(this.valorTipoBusca == ''){
                this.listarConferencias()
            // }
        })
    }
}
</script>

<style>
    .add-corredor {
        color: white !important;
        margin-left: 50px;
    }

    .campo-busca {
        margin-right: 50px;
    }

    .table-format{
        margin-left: 50px;
        margin-right: 50px;
        font: normal 12px/150% Arial, Helvetica, sans-serif;
        border: 1px solid #c1bebe;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }

    .table-format table td,
    .table-format table th {
        padding: 3px 14px;
    }

    .table-format table thead th {
        background-color: #e8edf1;
        color: #004d40;
        font-size: 14px;
        font-weight: bold;
        padding: 10px;
        text-align: center;
    }

    table {
        border-collapse: collapse;
        margin: 0;
        padding: 0;
        width: 100%;
    }

    table th {
        text-transform: uppercase;
    }

    td,
    th {
        text-align: center;
    }

    tr:nth-child(even) {
        background-color: #e2e8eec7;
    }

    .color-icon{
        color: #004d40;
    }
</style>

