<template>
	
	<div>
		<br>
		<Breadcrumb class="position-breadcrumb">
			<BreadcrumbItem><router-link to="corredores">CONFERÊNCIA</router-link></BreadcrumbItem>	
			<BreadcrumbItem>EDIÇÃO</BreadcrumbItem>
		</Breadcrumb>
		<br><br>
		
		<Row>
			<Col span="15" offset="3">
				<Card>
					<p slot="title">INFORMAÇÕES</p>
					<Form ref="formConferencia" :model="formConferencia" :rules="ruleValidate">
						<Row :gutter="15">
							<Col :xs="24" :md="24" :lg="12">
								<FormItem label="NOME DA CONFERÊNCIA" prop="nome">
									<Input v-model="formConferencia.nome"></Input>
								</FormItem>
							</Col>
							<Col :xs="24" :md="24" :lg="12">
								<FormItem label="NOME DO PRESIDENTE" prop="nomePresidente">
									<Input v-model="formConferencia.nomePresidente"></Input>
								</FormItem>
							</Col>
						</Row>
						<FormItem>
							<Button type="primary" @click="handleSubmit('formConferencia')">Cadastrar</Button>
							<Button @click="handleReset('formConferencia')" style="margin-left: 8px">Limpar campos</Button>
						</FormItem>
					</Form>
				</Card>
			</Col>
		</Row>
	</div>

</template>

<script>
import axios from "axios";
import {
    HTTP
  } from '../../../shared/common/common'
	
	export default {
        props: ['id'],
		data() {
			return {
				formConferencia: {
                    id: '',
                    nome: '',
                    nomePresidente: ''
                },
                ruleValidate: {
                    nome: [
                        { required: true, message: 'Por favor, informe o nome da conferência!', trigger: 'blur' }
					],
                    nomePresidente: [
                        { required: true, message: 'Por favor, informe o nome da conferência!', trigger: 'blur' }
					]
                }
			}
		},
        methods: {
            buscarPorId() {
                HTTP.get(`/api/conferencias/${this.id}`).then(response => {
                    this.formConferencia = response.data
                })
            },

            handleSubmit (name) {
                this.$refs[name].validate((valid) => {
                    if (valid) {
						HTTP.put("/api/conferencias", this.formConferencia);
						this.$Message.success('Cadastrado com sucesso!');
						this.$router.push('../conferencias');
                    } else {
                        this.$Message.error('Preencha o(s) campo(s)!');
                    }
                })
            },
            handleReset (name) {
                this.$refs[name].resetFields();
            }
        },

        created() {
            this.buscarPorId()
        }
	}
</script>

<style>

	.position-breadcrumb{
		margin: 20px;
		
	}

</style>


