<template>
    <div class="div-principal">
        <br><br><br><br><br>
        <Card style="width:350px" :bordered="false" class="container teste">
            <Form ref="usuario" :model="usuario" :rules="ruleValidate">
                <div style="text-align:center">
                    
                    <div>
                        <img src="../../../assets/logo.png" height="70px"/> <br><br><br>
                        <p style="font-weight: bold">SISTEMA CORRITECA</p>
                        Preencha os campos para entrar
                    </div>
                    <br>
                    <Alert v-if="message" type="error" show-icon>Usuário e/ou senha incorretos.</Alert>
    
                    <FormItem prop="login">
                        <Input prefix="md-contact" v-model="usuario.login" placeholder="LOGIN" />
                    </FormItem>
                    <FormItem prop="senha">
                        <Input prefix="md-lock" v-model="usuario.senha" type="password" placeholder="SENHA"/>
                    </FormItem>
                    <br>
                    
                    <Button shape="circle" type="success" @click="login('usuario')" style="width:100px">LOGIN</Button>
                </div>
            </Form>
        </Card>
        <br><br><br><br><br><br><br><br>
    </div>
</template>

<script>
import {
    HTTP
  } from '../../../shared/common/common'
import axios from "axios";

export default {
    data() {
        return{
            usuario: {
                login: '',
                senha: ''
            },
            usuariosBD: [],
            usuarioOnline: {},
            message: false,
            ruleValidate: {
                login: [
                    { required: true, message: 'Por favor, informe o login!', trigger: 'blur' }
                ],
                senha: [
                    { required: true, message: 'Por favor, informe a senha!', trigger: 'blur' },
                ]
            }
        }
    },

    methods: {
        login(name) {
            this.$refs[name].validate((valid) => {
                if (valid) {
                    this.$store.dispatch('login', this.usuario)

                    if (this.$store.getters.isLoggedIn === false) {
                        this.message = true
                    }
                }
            })
        },

        // colocarUsuarioOnline(){
        //     axios.put("http://localhost:8080/api/usuarios", this.usuarioOnline)
        //     window.location.href = '/home'
        //     // console.log(this.usuarioOnline)
        // },

        // listarUsuarios() {
        //     axios.get('http://localhost:8080/api/usuarios').then(response => {
        //         this.usuariosBD = response.data

        //         console.log(this.usuariosBD)
        //     })
        // }
    },

    created() {
        // this.listarUsuarios()
    }
}
</script>

<style>
    .div-principal {
        background-color: #d2d6de;
    }

    .ivu-card-body{
        background-color: #fff !important;
    }
</style>


