<template>
	
	<div>
		<br><br><br><br>

		<!-- <Row> -->
		<Row v-if="resultado == null || resultado.length == 0">
		<!-- <Row v-show="resultado != null && resultado.length == 0"> -->
			<Col span="15" offset="4">
				<Card>
					<p slot="title">RESULTADO DAS CORRIDAS</p>
					<Form ref="formResultado" :model="formResultado">
						<!-- <br> -->
						<FormItem v-for="(dupla, index) in duplas" :key="index">
							<center>
								<RadioGroup class="format-dupla">
									<span @click="handleAdd(dupla.id, dupla.corredor1.id)">
										<Radio label="corredor1" size="large">
											<span v-text="dupla.corredor1.pessoa.nome" @click.stop></span>
										</Radio>
									</span>
									<span @click="handleAdd(dupla.id, dupla.corredor2.id)">
										<Radio label="corredor2" size="large">
											<span v-text="dupla.corredor2.pessoa.nome" @click.stop></span>
										</Radio>
									</span>
									<!-- <Radio label="corredor1" size="large">
										<span v-text="dupla.corredor1.pessoa.nome" @click="handleAdd(dupla.id, dupla.corredor1.id)"></span>
									</Radio>
									<Radio label="corredor2" size="large">
										<span v-text="dupla.corredor2.pessoa.nome" @click="handleAdd(dupla.id, dupla.corredor2.id)"></span>
									</Radio> -->
								</RadioGroup>
							</center>
						</FormItem>
						<br>
						<center>
							<Button type="primary" @click="handleSubmit()">Cadastrar</Button>
						</center>

						<Modal 
							v-model="modal1" 
							title="CONFIRMAÇÃO"
							okText="Salvar"
							@on-ok="ok"
							cancelText="Alterar resultado">
							<h6>Confirme os dados antes de salvar.</h6>
							<!-- <h6>Após salvar, não será possível editar e nem excluir a aposta.</h6> -->
							<br>
							<visualizar :registros="formResultado.registro"/>
						</Modal>
					</Form>
				</Card>
			</Col>
		</Row>

		<Row v-if="resultado != null && resultado.length != 0">
			<Col span="15" offset="4" v-if="registro != null">
				<Card>
					<p slot="title">RESULTADO DAS CORRIDAS</p>
					<Form>
						<visualizar :registros="registro"/>
					</Form>
					<center>
						<Button type="primary" @click="custom()">Novo Resultado</Button>
					</center>
				</Card>
			</Col>
		</Row>
	</div>

</template>

<script>
import axios from "axios";
import visualizar from "../aposta/components/Visualizar";
import {
    HTTP
  } from '../../../shared/common/common'

	var indexArrayRegistro = 0
	export default {
		data() {
			
			return {
				modal1: false,
				formResultado: {
					registro: [
						{
							dupla: {
								id: ''
							},
							corredor: {
								id: ''
							}
						}
					]
				},

				duplas: [],
				resultado: null,
				registro: null
			}
		},

		methods: {

			listarDuplas() {
				HTTP.get("/api/duplas").then(response => {
					this.duplas = response.data
				})
			},

			handleAdd (idDupla, idCorredor) {
				var i
				var editarDupla = false
				var posicaoEditar
				if(indexArrayRegistro === 0){
					this.formResultado.registro[0].dupla.id = idDupla
					this.formResultado.registro[0].corredor.id = idCorredor
					indexArrayRegistro++
				}else {
					for(i=0; i < this.formResultado.registro.length; i++){
						// if(this.formResultado.registro[i].corredor.id == idCorredor){
						if(this.formResultado.registro[i].dupla.id == idDupla){
							editarDupla = true
							posicaoEditar = i
						}
					}

					if(editarDupla == false){
						this.formResultado.registro.push({
							dupla: {
								id: idDupla
							},
							corredor: {
								id: idCorredor
							}
						});
					}else{
						this.formResultado.registro[posicaoEditar].dupla.id = idDupla
						this.formResultado.registro[posicaoEditar].corredor.id = idCorredor
					}
				}
				console.log(this.formResultado.registro)	
			},
			
			closable () {
                this.$Message.error({
                    content: 'Selecione um corredor em todas as duplas!',
                    duration: 10,
                    closable: true
                });
            },

			ok () {
                this.salvarResultado();
			},
		

			handleSubmit () {
				if(this.formResultado.registro.length == this.duplas.length){
					this.modal1 = true
				}else {
					this.closable()
				}
			},

			salvarResultado() {
				HTTP.post("/api/resultado", this.formResultado.registro)
				this.$Message.success('Cadastrado com sucesso!');
				this.$router.push('../pontuacao');
			},

			consultarResultado() {
                HTTP.get("/api/resultado").then(response => {
					this.resultado = response.data
					this.registro = response.data
				});
			},

			custom () {
				this.$Modal.confirm({
					title: 'CONFIRMAÇÃO',
					content: '<p>A pontuação final dos apostadores será perdida.</p><p>Deseja realmente excluir o resultado?</p>',
					okText: 'OK',
					cancelText: 'Cancelar',
					closable: true,
					onOk: () => {
						this.excluirResultado()
					}
				});
			},
			
			excluirResultado() {
				HTTP.delete("/api/resultado/excluirResultado")
				// this.$router.push('../resultado');
				// this.consultarResultado()
				
			}

		},

		created() {
			this.consultarResultado()
			this.listarDuplas()
			indexArrayRegistro = 0
			//tenho que zerar o array de registro
		},

		updated: function () {
			this.$nextTick(function () {
				this.consultarResultado()
			})
		},

		components: {
			visualizar
		}
	}
</script>

<style scoped>
	.format-dupla span{
		font-size: 15px;
		font-weight: bold;
		color: black;
	}

	.format-dupla{
		margin-top: 10px;
	}

</style>
