<template>
    <div>
        <br>
        <div class="dados-valor">
            <h6> Valor total arrecadado: R$ {{ valorArrecadado }},00 </h6>
            <h6> 30% do valor arrecadado: R$ {{ valorGanhador }} </h6>
        </div>

        <br><br>
        <div class="table-format">
            <table>
                <thead>
                    <tr>
                        <th>Apostador</th>
                        <th>Telefone</th>
                        <th>Nº Bloco</th>
                        <th>Nº Cartela</th>
                        <th>Quantidade  de Acertos</th>
                    </tr>
                </thead>

                <tbody v-if="pontuacaoApostadores.length != 0">
                    <tr v-for="(pontuacao,index) in pontuacaoApostadores" :key="index">
                        <th v-text="pontuacao.nomeApostador"></th>
                        <th v-text="pontuacao.telefoneApostador"></th>
                        <th v-text="pontuacao.numeroBloco"></th>
                        <th v-text="pontuacao.numeroCartela"></th>
                        <th v-text="pontuacao.quantidadeAcertos"></th>
                    </tr>
                </tbody>
                <tbody v-if="pontuacaoApostadores.length == 0">
                    <h6 class="center">Sem registro</h6>
                </tbody>

            </table>
        </div>
    </div>
</template>

<script>
import axios from 'axios'
import _ from "lodash";
import {
    HTTP
  } from '../../../shared/common/common'

export default {
    data() {
        return {
            pontuacaoApostadores: [],
            valorArrecadado: '',
            valorGanhador: ''
        }
    },

    methods: {
        listarPontuacaoApostadores() {
            HTTP.get('/api/pontuacao').then(response => {
                this.pontuacaoApostadores = response.data
            })
        },

        pegarValorArrecadado() {
            HTTP.get('/api/apostas/valorArrecadado').then(response => {
                this.valorArrecadado = response.data
                this.valorGanhador = (this.valorArrecadado * 0.30)
            })
            
        }
    },

    created() {
        this.listarPontuacaoApostadores()
        this.pegarValorArrecadado()
    },

     updated: function () {
        this.$nextTick(function () {
            this.listarPontuacaoApostadores()
        })
    }
}
</script>

<style>
    .dados-valor {
        margin-left: 50px;
    }

    .campo-busca {
        margin-right: 50px;
    }

    .table-format{
        margin-left: 50px;
        margin-right: 50px;
        font: normal 12px/150% Arial, Helvetica, sans-serif;
        border: 1px solid #c1bebe;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }

    .table-format table td,
    .table-format table th {
        padding: 3px 14px;
    }

    .table-format table thead th {
        background-color: #e8edf1;
        color: #004d40;
        font-size: 14px;
        font-weight: bold;
        padding: 10px;
        text-align: center;
    }

    table {
        border-collapse: collapse;
        margin: 0;
        padding: 0;
        width: 100%;
    }

    table th {
        text-transform: uppercase;
    }

    td,
    th {
        text-align: center;
    }

    tr:nth-child(even) {
        background-color: #e2e8eec7;
    }

    .color-icon{
        color: #004d40;
    }
</style>

