<template>
	
	<div>
		<br><br><br><br>

		<Row>
			<Col span="15" offset="4" v-if="registro != null">
				<Card>
					<p slot="title">RESULTADO DAS CORRIDAS</p>
					<br>
					<Form>
						<visualizar :registros="registro"/>
					</Form>
				</Card>
			</Col>
		</Row>
	</div>

</template>

<script>
import axios from "axios";
import visualizar from "../aposta/components/Visualizar";
import {
    HTTP
  } from '../../../shared/common/common'

	export default {
		data() {
			
			return {
				registro: null
			}
		},

		methods: {
			
            listarResultado() {
                HTTP.get("/api/resultado").then(response => {
					this.registro = response.data
				})
            }

		},

		created() {
            this.listarResultado()
		},

		components: {
			visualizar
		}
	}
</script>

<style scoped>
	.format-dupla span{
		font-size: 15px;
		font-weight: bold;
		color: black;
	}

	.format-dupla{
		margin-top: 10px;
	}

</style>
