<template>
	
	<div>
		<br>
		<Breadcrumb class="position-breadcrumb">
			<BreadcrumbItem><router-link to="duplas">DUPLA</router-link></BreadcrumbItem>	
			<BreadcrumbItem>CADASTRO</BreadcrumbItem>
		</Breadcrumb>
		<br>
		
		<Row>
			<Col span="15" offset="4">
				<div style="overflow:auto;height:150px;">
					<Card> 
						<Input v-model="pesquisaCorredor" style="width: 200px" class="right" placeholder="Pesquisar corredor" @input="iniciarPesquisaCorredor()"></Input>
						<p v-show="formDupla.corredor1.id == ''">SELECIONE O CORREDOR 1</p>
						<p v-show="(formDupla.corredor1.id != '') && (formDupla.corredor2.id == '')">SELECIONE O CORREDOR 2</p>
						<p v-show="(formDupla.corredor1.id != '') && (formDupla.corredor2.id != '')">CORREDORES SELECIONADOS</p>
						<br>

						<div v-if="corredores.length != 0">
							<span v-for="(corredor,index) in corredores" :key="index">
								<span v-if="corredor.emDupla">
									<Button type="warning" size="small" @click="warning(false)" class="position-names"> {{corredor.pessoa.nome}} </Button>
								</span>

								<span v-if="corredor.emDupla == false">
									<Button type="success" size="small" @click="addCorredor(corredor.id)" class="position-names"> {{corredor.pessoa.nome}} </Button>
								</span>
							</span>
						</div>
						<div v-if="corredores.length == 0">
							<span>Não há corredores cadastrados</span>
						</div>
					</Card>
				</div>
				<br>
				<Card>
					<p slot="title">INFORMAÇÕES</p>
					<Form ref="formDupla" :model="formDupla">

						<Row :gutter="15">
							<Col :xs="24" :md="24" :lg="11">
								<FormItem label="CORREDOR 1" prop="corredor1.id">
									<Input v-model="nomeCorredor1" :value="formDupla.corredor1.id" :readonly="true">
										<Button slot="append" icon="md-close" @click="ResetCorredor1" title="Remover"></Button>
									</Input>
								</FormItem>
							</Col>
							<Col :xs="24" :md="24" :lg="2">
								<FormItem class="center" style="margin-top: 20px">
									<span>X</span>
								</FormItem>
							</Col>
							<Col :xs="24" :md="24" :lg="11">
								<FormItem label="CORREDOR 2" prop="corredor2.id">
									<Input v-model="nomeCorredor2" :value="formDupla.corredor2.id" :readonly="true">
										<Button slot="append" icon="md-close" @click="ResetCorredor2" title="Remover"></Button>
									</Input>
								</FormItem>
							</Col>
						</Row>
						
						<FormItem>
							<Button type="primary" @click="handleSubmit()">Cadastrar</Button>
							<Button @click="handleReset()" style="margin-left: 8px">Limpar campos</Button>
						</FormItem>
					</Form>
				</Card>

				<br><br>
				
			</Col>
		</Row>
	</div>

</template>

<script>
import axios from "axios";
import { mxDupla } from './mxDupla'
import {
    HTTP
  } from '../../../shared/common/common'
	
	export default {
		mixins: [mxDupla],

        methods: {

			handleSubmit () {
				if (this.formDupla.corredor1.id != '' && this.formDupla.corredor2.id != '') {
					HTTP.post("/api/duplas", this.formDupla)
					this.$Message.success('Cadastrado com sucesso!');
					this.$router.push('../duplas');
				} else {
					this.$Message.error('Informe os dois corredores!');
				}
			}
			
		},

		created() {
			this.listarCorredores()
		}
	}
</script>

<style>

	.position-breadcrumb{
		margin: 20px;
	}

	.position-names{
		margin-top: 5px;
	}

</style>
