<template>
    <div>
        <br>
        <router-link tag="a" class="waves-effect waves-light btn add-corredor" v-if="corredores.length <= 1" disabled to="/nova_dupla">
            <i class="material-icons left">group_add</i>DUPLA
        </router-link>

        <router-link tag="a" class="waves-effect waves-light btn add-corredor" v-if="corredores.length > 1" to="/nova_dupla">
            <i class="material-icons left">group_add</i>DUPLA
        </router-link>

        <!-- <Input v-model="valorTipoBusca" style="width: 400px" class="right campo-busca" @input="pesquisarCorredor(tipoBusca, valorTipoBusca)">
            <Select v-model="tipoBusca" slot="prepend" style="width: 90px">
                <Option :value=1>NOME</Option>
                <Option :value=2>CÓDIGO</Option>
            </Select>
        </Input> -->

        <br><br>
        <div class="table-format">
            <table>
                <thead>
                    <tr>
                        <th>Código</th>
                        <th>Corredor 1</th>
                        <th></th>
                        <th>Corredor 2</th>
                        <th>Ação</th>
                    </tr>
                </thead>

                <tbody v-if="duplas.length != 0">
                    <tr v-for="(dupla,index) in duplas" :key="index">
                        
                        <th v-text="dupla.id"></th>
                        <th v-text="dupla.corredor1.pessoa.nome"></th>
                        <th>X</th>
                        <th v-text="dupla.corredor2.pessoa.nome"></th>
                        <th>
                            <router-link tag="a" :to="{name: 'editar_dupla', params: {id: dupla.id}}" title="Editar" > <i class="material-icons color-icon">edit</i> </router-link>
                            <a @click="custom(dupla.id, dupla.corredor1.pessoa.nome, dupla.corredor2.pessoa.nome)" title="Excluir"> <i class="material-icons color-icon">delete</i> </a>
                        </th>
                    </tr>
                </tbody>
                <tbody v-if="duplas.length == 0">
                    <h6 class="center">Sem registro</h6>
                </tbody>

            </table>
        </div>
    </div>
</template>

<script>
import axios from 'axios'
import {
    HTTP
  } from '../../../shared/common/common'

export default {
    data() {
        return {
            duplas: [],
            corredores: []
        }
    },

    methods: {
        listarDuplas() {
            HTTP.get('/api/duplas').then(response => {
                this.duplas = response.data
            })
        },

        listarCorredores() {
            HTTP.get('/api/corredores').then(response => {
                console.log(response.data)
                this.corredores = response.data
            })
        },

        custom (idDupla, nomeCorredor1, nomeCorredor2) {
            this.$Modal.confirm({
                title: 'CONFIRMAÇÃO',
                content: '<p>Deseja realmente excluir a dupla '+ nomeCorredor1 + ' X ' + nomeCorredor2 + '?</p>',
                okText: 'OK',
                cancelText: 'Cancelar',
                closable: true,
                onOk: () => {
                    this.excluirDupla(idDupla)
                }
            });
        },

        warning (nodesc) {
            this.$Notice.error({
                title: 'Não é possível excluir',
                desc: nodesc ? '' : 'Há aposta registrada. '
            });
        },

        excluirDupla(idDupla) {
            HTTP.delete(`/api/duplas/${idDupla}`).catch(e => 
                this.warning(false),
            );
            // this.$Message.success('Excluído com sucesso!');
        },
    },

    created() {
        this.listarDuplas()
        this.listarCorredores()
    },

    updated: function () {
        this.$nextTick(function () {
            this.listarDuplas()
        })
    }
}
</script>

<style>
    .add-corredor {
        color: white !important;
        margin-left: 50px;
    }

    .campo-busca {
        margin-right: 50px;
    }

    .table-format{
        margin-left: 50px;
        margin-right: 50px;
        font: normal 12px/150% Arial, Helvetica, sans-serif;
        border: 1px solid #c1bebe;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }

    .table-format table td,
    .table-format table th {
        padding: 3px 14px;
    }

    .table-format table thead th {
        background-color: #e8edf1;
        color: #004d40;
        font-size: 14px;
        font-weight: bold;
        padding: 10px;
        text-align: center;
    }

    table {
        border-collapse: collapse;
        margin: 0;
        padding: 0;
        width: 100%;
    }

    table th {
        text-transform: uppercase;
    }

    td,
    th {
        text-align: center;
    }

    tr:nth-child(even) {
        background-color: #e2e8eec7;
    }

    .color-icon{
        color: #004d40;
    }
</style>
