<template>
    <div id="app">
        <router-view/>
    </div>
</template>

<script>
    export default {
        name: 'App'
    }
</script>

<style>
  body {
    background-color: #f5f7f9;
    font-family: 'Bai Jamjuree', sans-serif;
  }

  .blue-grey .lighten-4 {
    background-color: #dfe3e6 !important;
  }

  .icon-toggle {
    line-height: 0.5 !important;
  }

  .icon-menu{
     margin-left: 210px
   }

  .navbar {
    background-color: #f5f5f5;
    height: 74px;
  }

  nav .brand-logo {
    padding: none;
    /* padding-left: 241px; */
    padding-left: 12px;
  }

  .toggle-menu {
    padding-top: 20px;
    color: white;
  }

  .aw-layout-page {
    width: 100%;
    min-height: 100%;
    overflow-x: hidden;
    position: relative;
  }

  .content {
    padding-left: 10px;
  }

  .aw-layout-content {
    margin: 0;
    position: relative;
    transition: all 0.5s;
  }

  @media (min-width: 992px) {
    .aw-layout-content.is-toggled {
      margin-left: 10px;
    }
  }

  @media (min-width: 992px) {
    .aw-layout-content {
      margin-left: 220px;
    }
  }

  .aw-layout-sidebar {
    left: 0;
    top: 64px;
    bottom: 0;
    height: 100%;
    z-index: 1000;
    position: fixed;
    padding-top: 54px;
    overflow-x: hidden;
    margin-left: -211px;
    transition: all 0.5s;
    border-right: 1px solid;
    border-right-color: #e2e2e2;
    border-right-color: transparent;
    background-color: #004d40;
  }

  @media (min-width: 992px) {
    .aw-layout-sidebar {
      margin-left: 0px;
    }
  }

  .aw-layout-sidebar.is-toggled {
    margin-left: 0px;
  }

  @media (min-width: 992px) {
    .aw-layout-sidebar.is-toggled {
      margin-left: -211px;
    }
  }

  @media (max-width: 600px) {
    .aw-layout-sidebar {
      top: 50px;
    }
  }

  .aw-layout-sidebar__content {
    top: -22px;
    width: 210px;
    height: 100%;
    overflow-y: auto;
    position: relative;
  }

  .aw-menu__list {
    padding-left: 0;
    list-style: none;
    margin-bottom: 0;
  }

  .aw-menu__item {
    display: block;
    position: relative;
  }

  .aw-menu__item>a {
    display: block;
    color: white;
    font-weight: 500;
    padding: 10px 15px;
    position: relative;
  }

  .aw-menu__item>a>i {
    margin-right: 6px;
  }

  .aw-menu__item>a:hover {
    text-decoration: none;
    background-color: #00695c;
    color: white
  }

  .is-active {
    background-color: #00695c;
  }

  .is-active>a {
    color: white
  }

  .aw-menu__item.is-expanded {
    background-color: #246f9b;
  }

  .aw-menu__item.is-expanded>a {
    margin-left: -3px;
  }

  .aw-menu__item--link>a {
    font-weight: 400;
    padding-left: 36px;
  }

  .ivu-form .ivu-form-item-label {
    padding: 2px 0px 6px 0 !important;
  }

  .ivu-card-head {
    background-color: #26a69a !important;
    padding: 8px 16px !important;
  }

  .ivu-card-head P {
    color: white !important;
  }

  .ivu-card-body {
    background-color: #dfe3e6 !important;
  }

</style>
