<template>
	
	<div>
		<Breadcrumb class="position-breadcrumb">
			<BreadcrumbItem><router-link to="vendedores">VENDEDOR</router-link></BreadcrumbItem>	
			<BreadcrumbItem>CADASTRO</BreadcrumbItem>
		</Breadcrumb>
		
		<br>
		<Row>
			<Col span="15" offset="3">
				<Card>
					<p slot="title">DADOS PESSOAIS</p>
					<Form ref="formVendedor" :model="formVendedor" :rules="ruleValidate">
						<Row :gutter="15">
							<Col :xs="24" :md="24" :lg="12">
								<FormItem label="NOME DO VENDEDOR" prop="pessoa.nome">
									<Input v-model="formVendedor.pessoa.nome"></Input>
								</FormItem>
							</Col>
							<Col :xs="24" :md="24" :lg="6">
								<FormItem label="TELEFONE" prop="pessoa.telefone">
									<Input v-model="formVendedor.pessoa.telefone" v-mask="'(##) #########'"></Input>
								</FormItem>
							</Col>
							<Col :xs="24" :md="24" :lg="6">
								<FormItem label="CONFERÊNCIA" prop="conferencia.id">
									<Select v-model="formVendedor.conferencia.id" placeholder="SELECIONE">
										<Option v-for="(conferencia,index) in conferencias" :value="conferencia.id" :key="index">{{ conferencia.nome }}</Option>
									</Select>
								</FormItem>
							</Col>
						</Row>
						<Row :gutter="5">
							
							<Col :xs="24" :md="24" :lg="8">
								<FormItem label="LOGIN" prop="login">
									<Input v-model="formVendedor.login"></Input>
								</FormItem>
							</Col>
							<Col :xs="24" :md="24" :lg="8">
								<FormItem label="SENHA" prop="senha">
									<Input v-model="formVendedor.senha" type="password" :maxlength=15></Input>
								</FormItem>
							</Col>
							<Col :xs="24" :md="24" :lg="8">
								<FormItem label="CONFIRMAR SENHA" prop="confirmacaoSenha">
									<Input v-model="confirmacaoSenha" type="password" :maxlength=15></Input>
								</FormItem>
							</Col>
						</Row>
						<FormItem>
							<Button type="primary" @click="handleSubmit('formVendedor')">Cadastrar</Button>
							<Button @click="handleReset('formVendedor')" style="margin-left: 8px">Limpar campos</Button>
						</FormItem>
					</Form>
				</Card>
			</Col>
		</Row>
	</div>

</template>

<script>
import axios from "axios";
import {
    HTTP
  } from '../../../shared/common/common'
	
	export default {
		data() {
			const validatePassCheck = (rule, value, callback) => {
                if (this.confirmacaoSenha === '') {
                    callback(new Error('Confirme a senha'));
                } else if (this.confirmacaoSenha !== this.formVendedor.senha) {
                    callback(new Error('Senhas informadas não são iguais'));
                } else {
                    callback();
                }
			};

			const validateConferencia = (rule, value, callback) => {
                if (this.formVendedor.conferencia.id === '') {
                    callback(new Error('Selecione uma conferência'));
                } else {
                    callback();
                }
			};
			
			return {
				formVendedor: {
					pessoa: {
						nome: '',
						telefone: ''
					},
					conferencia: {
						id: ''
					},
					login: '',
					senha: '',
					ativo: true,
					permissoes: [
						{ id: 1 }
					]
				},
				confirmacaoSenha: '',
				conferencias: [],
                ruleValidate: {
                    'pessoa.nome': [
                        { required: true, message: 'Informe o nome', trigger: 'blur' }
					],
					'pessoa.telefone': [
						{ required: true, message: 'Informe o telefone', trigger: 'blur' },
						{ type: 'string', min: 13, message: 'Telefone incorreto!', trigger: 'blur' }
                    ],
                    'conferencia.id': [
                        { required: true, validator: validateConferencia, trigger: 'change' }
                    ],
                    login: [
                        { required: true, message: 'Informe o login', trigger: 'blur' }
                    ],
                    senha: [
						{ required: true, message: 'Informe a senha', trigger: 'blur' },
						{ type: 'string', min: 6, message: 'Use 6 caracteres ou mais para a senha', trigger: 'blur' }
					],
					confirmacaoSenha: [
						{ required: true, validator: validatePassCheck, trigger: 'blur' }
					]
                }
			}
		},

		methods: {
			listarConferencias() {
				HTTP.get('/api/conferencias').then(response => {
					this.conferencias = response.data
				})
			},
		
			handleSubmit (name) {
                this.$refs[name].validate((valid) => {
                    if (valid) {
						HTTP.post("/api/usuarios", this.formVendedor);
						this.$Message.success('Cadastrado com sucesso!');
						this.$router.push('../vendedores');
                    } else {
                        this.$Message.error('Preencha o(s) campo(s)!');
                    }
                })
            },
            handleReset (name) {
                this.$refs[name].resetFields();
            }
		},

		created() {
			this.listarConferencias()
		},
	}
</script>

<style>

	.position-breadcrumb{
		margin: 20px;
		
	}

</style>