<template>
	
	<div>
        <br>
        <Breadcrumb class="position-breadcrumb">
			<BreadcrumbItem><router-link to="/vendedores">VENDEDOR</router-link></BreadcrumbItem>	
			<BreadcrumbItem>EDIÇÃO</BreadcrumbItem>
		</Breadcrumb>
		<br><br>
        
		<Row>
			<Col span="15" offset="3">
                <Tabs type="card">
                    <TabPane label="INFORMAÇÕES">
                        <Card>
                            <p slot="title">DADOS PESSOAIS</p>
                            <Form ref="formVendedor" :model="formVendedor" :rules="ruleValidate">
                                <Row :gutter="15">
                                    <Col :xs="24" :md="24" :lg="12">
                                        <FormItem label="NOME DO VENDEDOR" prop="pessoa.nome">
                                            <Input v-model="formVendedor.pessoa.nome"></Input>
                                        </FormItem>
                                    </Col>
                                    <Col :xs="24" :md="24" :lg="6">
                                        <FormItem label="TELEFONE" prop="pessoa.telefone">
                                            <Input v-model="formVendedor.pessoa.telefone" v-mask="'(##) #########'"></Input>
                                        </FormItem>
                                    </Col>
                                    <Col :xs="24" :md="24" :lg="6">
                                        <FormItem label="CONFERÊNCIA" prop="conferencia.id">
                                            <Select v-model="formVendedor.conferencia.id">
                                                <Option v-for="(conferencia,index) in conferencias" :value="conferencia.id" :key="index">{{ conferencia.nome }}</Option>
                                            </Select>
                                        </FormItem>
                                    </Col>
                                </Row>
                                <Row :gutter="15">
                                    <Col :xs="24" :md="24" :lg="8">
                                        <FormItem label="LOGIN" prop="login">
                                            <Input v-model="formVendedor.login"></Input>
                                        </FormItem>
                                    </Col>
                                </Row>
                                <FormItem>
                                    <Button type="primary" @click="handleSubmit('formVendedor')">Salvar</Button>
                                </FormItem>
                            </Form>
                        </Card>
                    </TabPane>

                    <TabPane label="ALTERAR SENHA">
                        <Card>
                            <p slot="title">CONFIGURAÇÕES</p>
                            <Form ref="formSenha" :model="formSenha" :rules="ruleValidate">
                                <Row :gutter="15">
                                    <Col :xs="24" :md="24" :lg="8">
                                        <FormItem label="NOVA SENHA" prop="senha">
                                            <Input v-model="formSenha.senha" type="password" :maxlength=15></Input>
                                        </FormItem>
                                    </Col>
                                    <Col :xs="24" :md="24" :lg="8">
                                        <FormItem label="CONFIRMAR SENHA" prop="confirmacaoSenha">
                                            <Input v-model="confirmacaoSenha" type="password" :maxlength=15></Input>
                                        </FormItem>
                                    </Col>
                                </Row>
                                <FormItem>
                                    <Button type="primary" @click="handleSubmitSenha('formSenha')">Salvar</Button>
                                </FormItem>
                            </Form>
                        </Card>
                    </TabPane>
                </Tabs>
			</Col>
		</Row>
	</div>

</template>

<script>
import axios from 'axios'
import {
    HTTP
  } from '../../../shared/common/common'

export default {
    props: ['id'],
    data() {
        const validatePassCheck = (rule, value, callback) => {
            if (this.confirmacaoSenha === '') {
                callback(new Error('Confirme a senha'));
            } else if (this.confirmacaoSenha !== this.formSenha.senha) {
                callback(new Error('Senhas informadas não são iguais'));
            } else {
                callback();
            }
        };
            
        return {
            formVendedor: {
                pessoa: {
                    nome: '',
                    telefone: ''
                },
                conferencia: {
                    id: ''
                },
                login: '',
                senha: ''
            },

            formSenha: {
                senha: ''
            },

            confirmacaoSenha: '',
            conferencias: [],
            ruleValidate: {
                    'pessoa.nome': [
                        { required: true, message: 'Informe o nome', trigger: 'blur' }
					],
					'pessoa.telefone': [
                        { required: true, message: 'Informe o telefone', trigger: 'blur' },
                        { type: 'string', min: 13, message: 'Telefone incorreto!', trigger: 'blur' }
                    ],
                    'conferencia.id': [
                        { required: true }
                    ],
                    login: [
                        { required: true, message: 'Informe o login', trigger: 'blur' }
                    ],
                    senha: [
						{ required: true, message: 'Informe a senha', trigger: 'blur' },
						{ type: 'string', min: 6, message: 'Use 6 caracteres ou mais para a senha', trigger: 'blur' }
					],
					confirmacaoSenha: [
						{ required: true, validator: validatePassCheck, trigger: 'blur' }
					]
                }
        }
    },

    methods: {
        buscarPorId() {
            HTTP.get(`/api/usuarios/${this.id}`).then(response => {
                this.formVendedor = response.data
            })
        },

        listarConferencias() {
            HTTP.get('/api/conferencias').then(response => {
                this.conferencias = response.data
            })
        },

        handleSubmit (name) {
            this.$refs[name].validate((valid) => {
                if (valid) {
                    HTTP.put("/api/usuarios", this.formVendedor);
                    this.$Message.success('Alterado com sucesso!');
                    this.$router.push('../vendedores');
                } else {
                    this.$Message.error('Preencha o(s) campo(s)!');
                }
            })
        },

        handleSubmitSenha (name) {
            this.$refs[name].validate((valid) => {
                if (valid) {
                    this.formVendedor.senha = this.formSenha.senha;
                    HTTP.put("/api/usuarios", this.formVendedor);
                    this.$Message.success('Senha alterada com sucesso!');
                    this.$router.push('../vendedores');
                } else {
                    this.$Message.error('Preencha o(s) campo(s)!');
                }
            })
        }
    },

    created() {
        this.buscarPorId()
        this.listarConferencias()
    }
}
</script>

<style>

	.position-breadcrumb{
		margin: 20px;
	}

</style>
