<template>
    <div>
        <br>
        <router-link tag="a" class="waves-effect waves-light btn add-corredor" v-if="conferencias.length == 0" disabled to="/novo_vendedor">
            <i class="material-icons left">person_add</i>VENDEDOR
        </router-link>

        <router-link tag="a" class="waves-effect waves-light btn add-corredor" v-if="conferencias.length != 0" to="/novo_vendedor">
            <i class="material-icons left">person_add</i>VENDEDOR
        </router-link>

        <Input v-model="valorTipoBusca" style="width: 400px" class="right campo-busca" @input="pesquisarUsuario()">
            <Select v-model="tipoBusca" slot="prepend" style="width: 115px">
                <Option :value=1>NOME</Option>
                <Option :value=2>CONFERÊNCIA</Option>
                <Option :value=3>CÓDIGO</Option>
            </Select>
        </Input>

        <br><br>
        <div class="table-format">
            <table>
                <thead>
                    <tr>
                        <th>Código</th>
                        <th>Nome</th>
                        <th>Telefone</th>
                        <th>Nome da conferência</th>
                        <th>Ação</th>
                    </tr>
                </thead>

                <tbody v-if="usuarios.length != 0">
                    <tr v-for="(usuario,index) in usuarios" :key="index">
                        
                        <th v-text="usuario.id"></th>
                        <th v-text="usuario.pessoa.nome"></th>
                        <th v-text="usuario.pessoa.telefone"></th>
                        <th v-text="usuario.conferencia.nome"></th>
                        <th>
                            <router-link tag="a" :to="{name: 'editar_vendedor', params: {id: usuario.id}}" title="Editar" > <i class="material-icons color-icon">edit</i> </router-link>
                            <a @click="custom(usuario.id, usuario.pessoa.nome)" title="Excluir"> <i class="material-icons color-icon">delete</i> </a>
                        </th>
                    </tr>
                </tbody>
                <tbody v-if="usuarios.length == 0">
                    <h6 class="center">Sem registro</h6>
                </tbody>

            </table>
        </div>
    </div>
</template>

<script>
import axios from 'axios'
import {
    HTTP
  } from '../../../shared/common/common'

export default {
    data() {
        return {
            tipoBusca: 1,
            valorTipoBusca: '',
            usuarios: [],
            conferencias: []
        }
    },

    methods: {
        listarUsuarios() {
            HTTP.get('/api/usuarios').then(response => {
                this.usuarios = response.data
            })
        },

        listarConferencias() {
            HTTP.get('/api/conferencias').then(response => {
                console.log(response.data)
                this.conferencias = response.data
            })
        },

        custom (idUsuario, nomeUsuario) {
            this.$Modal.confirm({
                title: 'CONFIRMAÇÃO',
                content: '<p>Deseja realmente excluir o(a) vendedor(a) '+ nomeUsuario +'?</p>',
                okText: 'OK',
                cancelText: 'Cancelar',
                closable: true,
                onOk: () => {
                    this.excluirUsuario(idUsuario)
                }
            });
        },

        excluirUsuario(idUsuario) {
            HTTP.delete(`/api/usuarios/${idUsuario}`);
            this.$Message.success('Excluído com sucesso!');
        },

        pesquisarUsuario(){
            if(this.valorTipoBusca != ''){
                HTTP.get(`/api/usuarios/${this.tipoBusca}/${this.valorTipoBusca}`).then(response => {
                    this.usuarios = response.data
                })    
            }
        }
    },

    watch: {
        tipoBusca: function(){
            if(this.valorTipoBusca != ''){
                this.pesquisarUsuario() 
            }
        }
    },

    created() {
        this.listarUsuarios()
        this.listarConferencias()
    },

    updated: function () {
        this.$nextTick(function () {
            if(this.valorTipoBusca == ''){
                this.listarUsuarios()
            }
        })
    }
}
</script>

<style>
    .add-corredor {
        color: white !important;
        margin-left: 50px;
    }

    .campo-busca {
        margin-right: 50px;
    }

    .table-format{
        margin-left: 50px;
        margin-right: 50px;
        font: normal 12px/150% Arial, Helvetica, sans-serif;
        border: 1px solid #c1bebe;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }

    .table-format table td,
    .table-format table th {
        padding: 3px 14px;
    }

    .table-format table thead th {
        background-color: #e8edf1;
        color: #004d40;
        font-size: 14px;
        font-weight: bold;
        padding: 10px;
        text-align: center;
    }

    table {
        border-collapse: collapse;
        margin: 0;
        padding: 0;
        width: 100%;
    }

    table th {
        text-transform: uppercase;
    }

    td,
    th {
        text-align: center;
    }

    tr:nth-child(even) {
        background-color: #e2e8eec7;
    }

    .color-icon{
        color: #004d40;
    }
</style>

